.wrapper{
    margin-top: 10px;
    display: flex;
    max-height: 400px;
}

.image_preview{
    margin: 0px 20px;
    border: dashed;
    border-radius: 10px;
    max-height: inherit;
    width: -webkit-fill-available;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image_preview .image_preview__image{
    display: None;
    height: 100%;
    width: auto;
}

.wrapper .icon{
    font-size: 150px;
    color: #9658fe;
}

.wrapper .default_text{
    color: #5B5B7B;
    text-align: center;
}