.my-form-container{
    margin: 150px auto;
    width: 400px;
    align-content: center;
    border-style: groove;
    border-radius: 15px;
    padding: 40px 50px;
    background-color: cyan;
}

.link{
    width: 100px;
}

.my-form{
    margin:3px 0px;
}

.mycontainer{
    align-items: center;
    background-color: beige;
    border-radius: 10px;
}