{% extends 'basehtmlpage.html' %}

{% block content %}

{% if user.is_authenticated %}

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href ="upload">Upload</a>
        <a href="myposts">My posts</a>
        <a href="logout">Logout</a>
    </div>
    <div style="float: left;">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Options</span>
    </div>
    <div class="container mycontainer">
        <form action="searchPost" method="POST">
            {% csrf_token %}
            <input type="text" name="searchKey" placeholder="Search">
            <input type="submit" value="Go">
        </form>
    </div>

    {% if posts %}
        {% for post in posts %}

            <div class="card mycard">
                <div class="card-header">
                    {{ post.owner.username }}
                    {% if post.owner == user %}
                        <div style="float: right;">
                            <button type="button" class="fas fa-bars" data-toggle="dropdown"></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'delete_post' post.id %}">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                    <h4>This post is about {{ post.place }}</h4>
                </div>
                <div class="card-body"><img src="{{post.img.url}}" height="auto" width="100%"></div>
                <div class="card-footer">
                    {{ post.experience }}<br><br>
                    <form action="{% url 'like_post' %}" method="POST" style="float: left;">
                        {% csrf_token %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
                    </form>
                    <div style="float: left; margin:2px 0px 0px 4px">{{ post.total_likes }}</div>
                </div>
            </div>
        
        {% endfor %}
    {% else %}
        <h4 style="text-align: center;">No matched searches! Try something different.</h4>
    {% endif %}

{% else %}
    <h2>You are required to sign in for viewing this page.</h2>
    <a href = "{% url 'login' %}">login</a>
{% endif %}

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
</script>

{% endblock %}