{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href = "{% static 'classes.css' %}">
    <link rel="stylesheet" href = "{% static 'upload_page_classes.css' %}">
    <link rel="stylesheet" href = "{% static 'ids.css' %}">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- CSS Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Google font lobster -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Permanent Marker">

    <title>Document</title>
</head>
<body id="stop-scrolling">
    
    <div class="preload_wrapper">
        <div class="preload_center">
            <div class="wave1">
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}
</body>

<script>
    function preloaderFadeOutInit(){
        $('.preload_wrapper').fadeOut('slow');
        $('body').attr('id','');
        }
    // Window load function
    jQuery(window).on('load', function () {
        (function ($) {
            preloaderFadeOutInit();
        })(jQuery);
    });
</script>

</html>