{% extends 'basehtmlpage.html' %}

{% block content %}

{% if user.is_authenticated %}

    <div class="myoptions">
        <a href ="upload">Upload a new post</a><br>
        <a href="logout">logout</a><br>
        <a href="myposts">Show my posts</a>
    </div>

    <div class="container mycontainer">
        <form action="searchPost" method="POST">
            {% csrf_token %}
            <input type="text" name="searchKey" placeholder="Search">
            <input type="submit" value="Go">
        </form>
    </div>

    {% if posts %}
        {% for post in posts %}

            <div class="card mycard">
                <div class="card-header">
                    {{ post.owner.username }}
                    <h3>This post is about {{ post.place }}</h3>
                </div>
                <div class="card-body"><img src="{{post.img.url}}" height="auto" width="100%"></div>
                <div class="card-footer">
                    {{ post.experience }}<br><br>
                    <form action="{% url 'like_post' %}" method="POST" style="float: left;">
                        {% csrf_token %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
                    </form>
                    <div style="float: left; margin:2px 0px 0px 4px">{{ post.total_likes }}</div>
                </div>
            </div>
        
        {% endfor %}
    {% else %}
        <h4 style="text-align: center;">No matched searches! Try something different.</h4>
    {% endif %}

{% else %}
    <h2>You are required to sign in for viewing this page.</h2>
    <a href = "{% url 'login' %}">login</a>
{% endif %}

{% endblock %}