{% extends 'basehtmlpage.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div class="explore-page-headings">Discover People</div>
    <div class="account-recommend-wrapper">
        {% for account in accounts %}
            <div class="account-recommend-box">
                <a href="{% url 'show_user_profile' account.user.id %}">
                    <img src="{{account.display_picture.url}}" alt="Error!" style="border: 1.5px rgb(240, 240, 240) solid; border-radius: 35px;" height="70px" width="70px">
                </a>
                <div style="font-weight: 650; margin-top:10px; margin-bottom:-3px">{{account.user.username}}</div>
                <div style="color:darkgrey; font-size:.9em; font-weight: 600; margin-bottom: 10px;">{{account.user.first_name}}</div>

                <button class="custom-follow-button" {% if account.user in logged_user_following %}style="display: none;"{% endif %}
                    onclick="follow(accountID = {{account.user.id}})" id="follow{{account.user.id}}">Follow</button>
                <button class="show-following-or-not" {% if account.user not in logged_user_following %}style="display: none;"{% endif %}
                    onclick="unfollow(accountID = {{account.user.id}})" id="unfollow{{account.user.id}}">Following</button>
            </div>
        {% endfor %}
    </div>

    <div class="explore-page-headings">Explore</div>
    <div class="explore-post-wrapper">
        {% for post in posts %}
            <div class="explore-post-box">
                <img src="{{post.img.url}}" class="explore-post-image" alt="Couldn't load image!" height="auto" width="auto">
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="container" style="text-align: center;">
        <h2>You are required to sign in for viewing this page.</h2>
        <a href = "{% url 'login' %}">Sign In</a>
    </div>
{% endif %}

{% endblock %}