<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top my-topbar">
    <div class="container-fluid">
        <img src="{{avatar.url}}" style="border: 1.5px rgb(240, 240, 240) solid; border-radius: 25px;" height="50px" width="50px">
        <span class="topbar-username">
            {{ user.first_name }} {{ user.last_name }}
        </span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'user_feed' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore' %}">EXPLORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_upload' %}">UPLOAD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'show_user_profile' user.id %}">MY PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">SIGN OUT</a>
                </li>
            </ul>
            <form class="d-flex" action="searchPost" method="POST">
                {% csrf_token %}
                <input class="form-control me-2" type="text" name="searchKey" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Go</button>
            </form>
        </div>
    </div>
</nav>