{% if posts %}
    {% for post in posts %}
        <div class="custom-card">
            <!------------------------------------POST Header Start---------------------------------------->
            <div class="custom-card-header">
                <img src="{{post.owner.avatar.url}}" alt="Error!" style="border: 1.5px rgb(240, 240, 240) solid; border-radius: 20px;" height="40px" width="40px">
                {{post.owner.first_name}} {{post.owner.last_name}}
                <a href="{% url 'show_user_profile' post.owner.id %}">@{{ post.owner.username }}</a>
                {% if post.owner == user %}
                    <div style="float: right;">
                        <div class="dropdown-bars" data-toggle="dropdown">
                            {% load cache %}
                            {% cache 3600 horizontal_bars_icon %}
                            <i class="fas fa-bars fa-lg" ></i>
                            {% endcache %}
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="delete_post" data-catid="{{ post.id }}"">Delete</a>
                        </div>
                    </div>
                {% else %}
                    <!------------------Refer this for future use------------>
                    {% if is_profile_page %}
                        <style>
                            .custom-follow-button{display: none;}
                            .show-following-or-not{display: none;}
                        </style>
                    {% elif post.owner in info.following %}
                        <style>.custom-follow-button{display: none;}</style>
                    {% else %}
                        <style>.show-following-or-not{display: none;}</style>
                    {% endif %}
                    <!------------------------------------------------------->
                    <button style="float: right;" class="custom-follow-button" onclick="follow(accountID = {{post.owner.id}})" id="follow{{post.owner.id}}">Follow</button>
                    <button style="float: right;" class="show-following-or-not" onclick="unfollow(accountID = {{post.owner.id}})" id="unfollow{{post.owner.id}}">Following</button>
                {% endif %}
                <div class="place-heading">{{ post.place }}</div>
            </div>
            <!-------------------------------------POST Header End----------------------------------------->

            <div class="custom-card-body"><img src="{{post.img.url}}" alt="Couldn't load image!" height="auto" width="100%"></div>

            <!-------------------------------------POST Footer Start--------------------------------------->
            <div class="custom-card-footer">
                {{ post.experience }}
                <div style="margin: 10px 0px 0px -5px">
                    {% if user in post.liked_by %}
                        <button class="fa fa-heart post-interaction-button" id="lb{{post.id}}" onclick="like_post(postID = {{post.id}})" href="#"></button>
                    {% else %}
                        <button class="far fa-heart post-interaction-button" id="lb{{post.id}}" onclick="like_post(postID = {{post.id}})" href="#"></button>
                    {% endif %}
                    <button class="far fa-comment post-interaction-button" onclick="load_comment(userID = {{ user.id }}, postID = {{post.id}})"></button>
                </div>

                <div style="font-weight: 600; margin: 5px 0px 0px 2px; color: darkgrey;">
                    <span id="number_of_likes{{post.id}}">
                        {% if post.total_likes == 1 %}
                            1 like
                        {% else %}
                            {{ post.total_likes }} likes
                        {% endif %}
                    </span>
                    <span>&#183;</span>
                    <span id="number_of_comments{{post.id}}">
                        {% if post.total_comments == 1 %}
                            1 comment
                        {% else %}
                            {{ post.total_comments }} comments
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-------------------------------------POST Footer End----------------------------------------->
            
            <!---------------------------------POST Comments Box Start------------------------------------->
            <div class="comment-box-wrapper" id="comment-box-wrapper{{post.id}}">
                <div class="comments-option-bar">Sort by</div>
                <div class="comments-layout" id="comments-layout{{post.id}}">
                </div>
                <div class="add-comment-form">
                    <input class="enter-comment-text-bar" id="comment{{post.id}}" type="text" placeholder="Add a comment" name="comment_text" required>
                    <button class="btn btn-primary" onclick="add_comment(userID = {{user.id}}, postID = {{ post.id }})">Add</button>
                </div>
            </div>
            <!----------------------------------POST Comments Box End-------------------------------------->
        </div>
        
    {% endfor %}
{% else %}
    <h4 style="text-align: center; margin-top:40px">No posts to show!</h4>
{% endif %}

<script>
    $('#delete_post').click(function(){
        var catid = $(this).attr("data-catid");
        $.ajax(
        {
            type:"GET",
            url: "{% url 'delete_post' %}",
            data:{
                post_id: catid
            },
            success: function(data)
            {
                location.reload()
            }
        })
    })

    function add_comment(userID, postID){
        var comment = document.getElementById('comment'+postID);
        var comment_text = comment.value;

        $.ajax({
            type: 'POST',
            url: '{% url "add_comment" %}',
            data: {
                postID: postID,
                comment_text: comment_text,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response){
                comment.value = '';

                var num_comments = '';
                if (response == '1'){
                    num_comments = '1 comment';
                }else{
                    num_comments = response+' comments';
                }
                document.getElementById('number_of_comments'+postID).innerHTML = num_comments;
                load_comment(userID, postID);
            }
        })
    }

</script>
