{% if posts %}
    {% for post in posts %}
        <div class="custom-card">
            <!------------------------------------POST Header Start---------------------------------------->
            <div class="custom-card-header">
                <img src="{{post.owner.avatar.url}}" alt="Error!" style="border: 1.5px rgb(240, 240, 240) solid; border-radius: 20px;" height="40px" width="40px">
                {{post.owner.first_name}} {{post.owner.last_name}}
                <a href="{% url 'show_user_profile' post.owner.id %}">@{{ post.owner.username }}</a>
                {% if post.owner == user %}
                    <div style="float: right;">
                        <div class="dropdown-bars" data-toggle="dropdown">
                            {% load cache %}
                            {% cache 3600 horizontal_bars_icon %}
                            <i class="fas fa-bars fa-lg" ></i>
                            {% endcache %}
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="delete_post" data-catid="{{ post.id }}"">Delete</a>
                        </div>
                    </div>
                {% else %}
                    <!------------------Refer this for future use------------>
                    {% if is_profile_page %}
                        <style>
                            .custom-follow-button{display: none;}
                            .show-following-or-not{display: none;}
                        </style>
                    {% elif post.owner in info.following %}
                        <style>.custom-follow-button{display: none;}</style>
                    {% else %}
                        <style>.show-following-or-not{display: none;}</style>
                    {% endif %}
                    <!------------------------------------------------------->
                    <button style="float: right;" class="custom-follow-button" data-catid="{{post.owner.id}}" id="follow{{post.owner.id}}">Follow</button>
                    <button style="float: right;" class="show-following-or-not" data-catid="{{post.owner.id}}" id="unfollow{{post.owner.id}}">Following</button>
                {% endif %}
                <div class="place-heading">{{ post.place }}</div>
            </div>
            <!-------------------------------------POST Header End----------------------------------------->

            <div class="custom-card-body"><img src="{{post.img.url}}" alt="Couldn't load image!" height="auto" width="100%"></div>

            <!-------------------------------------POST Footer Start--------------------------------------->
            <div class="custom-card-footer">
                {{ post.experience }}
                <div style="margin: 10px 0px 0px -5px">
                    {% if user in post.liked_by %}
                        <button class="fa fa-heart post-interaction-button" id="lb{{post.id}}" onclick="like_post(postID = {{post.id}})" href="#"></button>
                    {% else %}
                        <button class="far fa-heart post-interaction-button" id="lb{{post.id}}" onclick="like_post(postID = {{post.id}})" href="#"></button>
                    {% endif %}
                    <button class="far fa-comment post-interaction-button" onclick="load_comment(userID = {{ user.id }}, postID = {{post.id}})"></button>
                </div>

                <div style="font-weight: 600; margin: 5px 0px 0px 2px; color: darkgrey;">
                    <span id="number_of_likes{{post.id}}">
                        {% if post.total_likes == 1 %}
                            1 like
                        {% else %}
                            {{ post.total_likes }} likes
                        {% endif %}
                    </span>
                    <span>&#183;</span>
                    <span id="number_of_comments{{post.id}}">
                        {% if post.total_comments == 1 %}
                            1 comment
                        {% else %}
                            {{ post.total_comments }} comments
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-------------------------------------POST Footer End----------------------------------------->
            
            <!---------------------------------POST Comments Box Start------------------------------------->
            <div class="comment-box-wrapper" id="comment-box-wrapper{{post.id}}">
                <div class="comments-option-bar">Sort by</div>
                <div class="comments-layout" id="comments-layout{{post.id}}">
                </div>
                <div class="add-comment-form">
                    <input class="enter-comment-text-bar" id="comment{{post.id}}" type="text" placeholder="Add a comment" name="comment_text" required>
                    <button class="btn btn-primary" onclick="add_comment(userID = {{user.id}}, postID = {{ post.id }})">Add</button>
                </div>
            </div>
            <!----------------------------------POST Comments Box End-------------------------------------->
        </div>
        
    {% endfor %}
{% else %}
    <h4 style="text-align: center; margin-top:40px">No posts to show!</h4>
{% endif %}

<script>
    function like_post(postID){
        var element = document.querySelector('#lb'+postID);
        if(element.classList.contains('fa')){
            element.classList.remove('fa');
            element.classList.add('far');
        }
        else{
            element.classList.remove('far');
            element.classList.add('fa');
        }
        $.ajax({
            type:"GET",
            url: "{% url 'like_post' %}",
            data:{
                post_id: postID
            },
            success: function(data)
            {   
                var num_likes = '';
                if (data['numberoflikes'] == '1'){
                    num_likes = '1 like';
                }else{
                    num_likes = data['numberoflikes']+' likes';
                }
                document.getElementById('number_of_likes'+postID).innerHTML = num_likes;
            }
        })
    }

    $('#delete_post').click(function(){
        var catid = $(this).attr("data-catid");
        $.ajax(
        {
            type:"GET",
            url: "{% url 'delete_post' %}",
            data:{
                post_id: catid
            },
            success: function(data)
            {
                location.reload()
            }
        })
    })

    $('.custom-follow-button').click(function(){
        var catid = $(this).attr("data-catid");
        $.ajax(
        {
            type:"GET",
            url: "{% url 'follow_toggle_request' %}",
            data:{
                user_id: catid,
                request_type: 'follow'
            },
            success: function(data){
                $('#follow' + catid).hide();
                $('#unfollow' + catid).show();
            }
        })
    })
    
    $('.show-following-or-not').click(function(){
        var catid = $(this).attr("data-catid");
        $.ajax(
        {
            type: "GET",
            url: "{% url 'follow_toggle_request' %}",
            data:{
                user_id: catid,
                request_type: 'unfollow'
            },
            success: function(data){
                $('#unfollow' + catid).hide();
                $('#follow' + catid).show();
            }
        })
    })

    function add_comment(userID, postID){
        var comment = document.getElementById('comment'+postID);
        var comment_text = comment.value;

        $.ajax({
            type: 'POST',
            url: '{% url "add_comment" %}',
            data: {
                postID: postID,
                comment_text: comment_text,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response){
                comment.value = '';

                var num_comments = '';
                if (response == '1'){
                    num_comments = '1 comment';
                }else{
                    num_comments = response+' comments';
                }
                document.getElementById('number_of_comments'+postID).innerHTML = num_comments;
                load_comment(userID, postID);
            }
        })
    }

    function load_comment(userID, postID){
        if ($('#comment-box-wrapper'+postID).is(":visible")){
            $('#comment-box-wrapper'+postID).slideUp();
        }else{
            $.ajax({
                type: "GET", 
                url: "{% url 'load_comments' %}",
                data: {
                    postID: postID
                },
                success: function(data){
                    var comments = JSON.parse(data);
                    var new_inner_html = '';

                    for (var comment in comments){
                        var heart_type = 'far';
                        var liked_by = new Set(comments[comment].liked_by);
                        if (liked_by.has(userID)){
                            heart_type = 'fa';
                        }

                        var comment_likes = '';
                        if (comments[comment].total_likes == 1){
                            comment_likes = '1 like';
                        }else{
                            comment_likes = comments[comment].total_likes + ' likes';
                        }
                        
                        new_inner_html +=
                        ('<div class="comment">'+
                            '<img src="' + comments[comment].user_details.avatar_url + '" alt="Error!" style="border: 1.5px rgb(240, 240, 240) solid; border-radius: 20px; margin-right: 10px" height="40px" width="40px">' +
                            '<div style="line-height: 120%; margin-right: 20px; width: 100%;">' +
                                '<span style="font-weight: 650;">' + comments[comment].user.username + ' </span>' +
                                '<span>' + comments[comment].text + '</span>' + 
                                '<div class="comment-info">' + 
                                    '<span class="comment-time-elapsed">' + comments[comment].time_elapsed + '</span>' + 
                                    '<span class="comment-likes" id="cmtlikes' + comments[comment].id + '">' + comment_likes + '</span>' +
                                '</div>' +
                            '</div>' +
                            '<button class="' + heart_type + ' fa-heart post-interaction-button" onclick="like_comment(commentID = ' + comments[comment].id + ')" id="clb' + comments[comment].id + '" href="#" style="font-size: 1em;"></button>' +
                        '</div>');
                    }
                    document.getElementById('comments-layout'+postID).innerHTML = new_inner_html;
                    $('#comment-box-wrapper'+postID).slideDown();
                    document.getElementById('comment-box-wrapper'+postID).style.display = 'flex';
                }
            })
        }
    }

    function like_comment(commentID){
        $.ajax({
            type: 'GET',
            url: "{% url 'like_comment' %}",
            data: {
                commentID: commentID
            },
            success: function(data){
                var context = JSON.parse(data);
                var comment_likes = '';
                var comment_like_button = document.querySelector('#clb'+commentID);
                if (context.total_likes == 1){
                    comment_likes = '1 like';
                }else{
                    comment_likes = context.total_likes+' likes';
                }
                document.getElementById('cmtlikes'+commentID).innerHTML = comment_likes;

                if (context.action == 'liked'){
                    comment_like_button.classList.remove('far');
                    comment_like_button.classList.add('fa');
                }else{
                    comment_like_button.classList.remove('fa');
                    comment_like_button.classList.add('far');
                }
            }
        })
    }
</script>
