{% if posts %}
    {% for post in posts %}
        <div class="custom-card">
            <!------------------------------------Card Header Start---------------------------------------->
            <div class="custom-card-header">
                <img src="{{post.owner.avatar.url}}" style="border-radius: 20px;" height="40px" width="40px">
                {{post.owner.first_name}} {{post.owner.last_name}}
                <a href="{% url 'show_user_profile' post.owner.id %}">@{{ post.owner.username }}</a>
                {% if post.owner == user %}
                    <div style="float: right;">
                        <div class="dropdown-bars" data-toggle="dropdown"><i class="fas fa-bars fa-lg" ></i></div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="delete_post" data-catid="{{ post.id }}"">Delete</a>
                        </div>
                    </div>
                {% else %}

                    <!------------------Refer this for future use------------>
                    {% if post.owner in info.following %}
                    <style>.custom-follow-button{display: none;}</style>
                    {% else %}
                    <style>.custom-following-show{display: none;}</style>
                    {% endif %}
                    <!------------------------------------------------------->

                    <button class="custom-follow-button" data-catid="{{post.owner.id}}" id="follow{{post.owner.id}}">Follow</button>
                    <button class="custom-following-show" data-catid="{{post.owner.id}}" id="unfollow{{post.owner.id}}">Following</button>

                {% endif %}
                <div class="place-heading">{{ post.place }}</div>
            </div>
            <!-------------------------------------Card Header End----------------------------------------->

            <div class="custom-card-body"><img src="{{post.img.url}}" height="auto" width="100%"></div>

            <!------------------------------------Card Footer Start---------------------------------------->
            <div class="custom-card-footer">
                {{ post.experience }}<br><br>
                {% if user in post.liked_by %}
                    <button style="float: left;" id="lb{{post.id}}" data-catid="{{ post.id }}" href="#" class="btn btn-primary btn-sm likebutton">Like</button>
                {% else %}
                    <button style="float: left;" id="lb{{post.id}}" data-catid="{{ post.id }}" href="#" class="btn btn-outline-primary btn-sm likebutton">Like</button>
                {% endif %}
                <div id="{{post.id}}" style="float: left; margin:2px 0px 0px 4px">{{ post.total_likes }}</div>
            </div>
            <!-------------------------------------Card Footer End----------------------------------------->
        </div>
        
    {% endfor %}
{% else %}
    <h4 style="text-align: center; margin-top:40px">Nothing to show!</h4>
{% endif %}

<script>
    $('.likebutton').click(function(){
        var catid = $(this).attr("data-catid");
        const element = document.querySelector('#lb'+catid);
        if(element.classList.contains('btn-primary')){
            element.classList.remove('btn-primary');
            element.classList.add('btn-outline-primary');
        }
        else{
            element.classList.remove('btn-outline-primary');
            element.classList.add('btn-primary');
        }
        $.ajax(
        {
            type:"GET",
            url: "{% url 'like_post' %}",
            data:{
                post_id: catid
            },
            success: function(data)
            {
                $( '#'+catid ).text(data['numberoflikes']);
            }
         })
    });

    $('#delete_post').click(function(){
        var catid = $(this).attr("data-catid");
        $.ajax(
        {
            type:"GET",
            url: "{% url 'delete_post' %}",
            data:{
                post_id: catid
            },
            success: function(data)
            {
                location.reload()
            }
        })
    })

    $('.custom-follow-button').click(function(){
        var catid = $(this).attr("data-catid");
        $.ajax(
        {
            type:"GET",
            url: "{% url 'follow_toggle_request' %}",
            data:{
                user_id: catid,
                request_type: 'follow'
            },
            success: function(data){
                $('#follow' + catid).hide();
                $('#unfollow' + catid).show();
            }
        })
    })

    $('.custom-following-show').click(function(){
        var catid = $(this).attr("data-catid");
        $.ajax(
        {
            type: "GET",
            url: "{% url 'follow_toggle_request' %}",
            data:{
                user_id: catid,
                request_type: 'unfollow'
            },
            success: function(data){
                $('#unfollow' + catid).hide();
                $('#follow' + catid).show();
            }
        })
    })
</script>
