{% extends 'basehtmlpage.html' %}

{% block content %}
{% if user.is_authenticated %}

    {% include 'navbar.html' %}    

    <br>
    <div class="wrapper">
        <div class="container upload-container">
            <form action="{% url 'post_upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <h6>Post is for:</h6>
                    <input type="text" class="form-control" name="place" placeholder="Place" required>
                </div>
                <div class="form-group">
                    <h6>Share experience:</h6>
                    <textarea class="form-control" name="exp" rows="4" cols="fit" placeholder="Experience" required></textarea>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control-file" id="inpImage" name="image" accept="image/*" required>
                </div>
                <input type="submit" class="btn btn-primary link" value="Upload">
            </form>
        </div>
        <div class="image_preview" id="imagePreview">
            <img src="" alt="Image Preview" class="image_preview__image">
            <span class="default_content">
                {% load cache %}
                {% cache 3600 upload_cloud %}
                <span class="icon"><i class="fa fa-cloud-upload-alt"></i></span>
                {% endcache %}
                <span class="default_text"><h6>No file chosen, yet!</h6></span>
            </span>
        </div>
    </div>

{% else %}
    <div class="container" style="text-align: center;">
        <h2>You are required to sign in for viewing this page.</h2>
        <a href = "{% url 'login' %}">Sign In</a>
    </div>
{% endif %}

<script>
    const inpFile = document.getElementById("inpImage");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = document.querySelector(".image_preview__image");
    const defaultContent = document.querySelector(".default_content")

    inpFile.addEventListener("change", function(){
        const file = this.files[0];

        if (file){
            const reader = new FileReader();

            previewImage.style.display = "block";
            defaultContent.style.display = "None";

            reader.addEventListener("load", function(){
                previewImage.setAttribute("src", this.result);
            })
            reader.readAsDataURL(file);
        }
    })
</script>

{% endblock %}