{% extends 'basehtmlpage.html' %}

{% block content %}
{% if user.is_authenticated %}

    {% include 'navbar.html' %}
    <style>
        body{background: antiquewhite;}
    </style>
    
    <div style="width: 60%; float:left; margin: 30px 5% 10px 5%;">
        
        <div class="profile-wrapper">
            <!------------------------------------------------------------------------------------>
            <!---------------Start of area for profile pic display and edit button---------------->
            <!------------------------------------------------------------------------------------>
            <div class="dp-wrapper">
                {% if info.user == user %}
                <button class="btn btn-primary" href="#" id="edit-dp-button">Edit</button>
                <div class="edit-dp-div">
                    <div>
                        <form style="display: none;" action="{% url 'change_dp' %}" enctype="multipart/form-data" method="POST" id="dp-form">
                            {% csrf_token %}
                            <input type="file" id="dp-input-file" name="pic" accept="image/*" required>
                            <input type="submit" id="dp-form-submit" class="btn btn-primary">
                        </form>
                        <i class="fas fa-plus" id="add-new-dp-action"></i>
                        <h6>New</h6>
                    </div>
                    <div>
                        <i class="fas fa-times" id="remove-dp" data-catid="{{info.user.id}}"></i>
                        <h6>Del</h6>
                    </div>
                </div>
                {% endif %}
                <div class="dp-contain-box">
                    <img id="display-picture" style="border-radius: 100px;" src="{{info.dp.url}}" height="200px" width="200px">
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <!------------------End of area for profile pic display and edit button--------------->
            <!------------------------------------------------------------------------------------>
            
            <!------------------------------------------------------------------------------------>
            <!-----------------Start of area for editing and showing bio of user------------------>
            <!------------------------------------------------------------------------------------>
            <div class="description-wrapper">
                {% if info.user == user %}
                    <div class="edit-bio">
                        <i class="fas fa-pencil-alt" id="change-bio-action"></i>
                    </div>
                    <div class="edit-bio-container">
                        <div>
                            <textarea name="bio" id="edit-bio-textarea" cols="50" rows="3">{{ info.user_description }}</textarea>
                            {% csrf_token %}
                        </div>
                        <button class="btn btn-primary" id="edit-bio-submit-btn">Submit</button>
                    </div>
                {% endif %}
                <div class="description-text" id="description-view">
                    {% if info.user_description %}
                        {{ info.user_description }}
                    {% elif info.user == user %}
                        Loves mountains? Or are you a beach person?<br>
                        What's on your bucket list?<br>
                        Tell people about yourself here!
                    {% endif %}
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <!------------------End of area for editing and showing bio of user------------------->
            <!------------------------------------------------------------------------------------>
        </div>
        
        {% include 'posts-scrolling-layout.html' %}
    </div>
    
    <!------------------------------------------------------------------------------------>
    <!-----------Start of area for showing followers and following of the user------------>
    <!------------------------------------------------------------------------------------>
    <div style="width: 25%; float: right; margin: 30px 2.5% 10px 2.5%;">
        <div class="show-follower-following-nav">
            <button class="custom-nav-button-active" id="follower-button">Followers</button>
            <button class="custom-nav-button-inactive" id="following-button">Following</button>
        </div>
        <!-----------------------Followers list-------------------------->
        <div class="followers-list" id="follower-list">
            {% for user, avatar in info.followers %}
                <div class="my-connection-card">
                    <img src="{{avatar.url}}" height="50px" width="50px">
                    <div style="padding: 0px 40px 0px 15px; overflow:hidden">
                        <div class="user-name">{{user.username}}</div>
                        <div class="title-name">{{user.first_name}} {{user.last_name}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-----------------------Following list-------------------------->
        <div class="following-list" id="following-list">
            {% for user, avatar in info.following %}
                <div class="my-connection-card">
                    <img src="{{avatar.url}}" style="border-radius: 25px;" height="50px" width="50px">
                    <div style="padding: 0px 40px 0px 15px;">
                        <div class="user-name">{{user.username}}</div>
                        <div class="title-name">{{user.first_name}} {{user.last_name}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!------------------------------------------------------------------------------------>
    <!---------------------End of followers and following area---------------------------->
    <!------------------------------------------------------------------------------------>

{% else %}
    <div class="container" style="text-align: center;">
        <h2>You are required to sign in for viewing this page.</h2>
        <a href = "{% url 'login' %}">Sign In</a>
    </div>

{% endif %}

<script>
    $("#edit-dp-button").click(function(){
        $("#edit-dp-button").hide();
        $(".edit-dp-div").show();
    })

    $("#add-new-dp-action").click(function(){
        document.getElementById("dp-input-file").click();
    })

    $("#dp-input-file").on("change", function(){
        document.getElementById("dp-form-submit").click();
    })

    $('#remove-dp').click(function(){
        const profile_pic = document.querySelector('#display-picture');

        $.ajax({
            type: 'GET',
            url: '{% url "remove_dp" %}',
            data: {},
            success: function(response){
                profile_pic.setAttribute("src", '../../static/pictures/avatardefault.png')
            }
        })
    })

    $("#change-bio-action").click(function(){
        $(".edit-bio-container").show();
        $("#description-view").hide();
    })

    $("#edit-bio-submit-btn").click(function(){
        const textarea = document.getElementById("edit-bio-textarea");
        const bio = textarea.value;

        $.ajax({
            type : 'POST',
            url : '{% url "change_bio" %}',
            data : {
                text : bio,
                csrfmiddlewaretoken : '{{ csrf_token }}'
            },
            success: function(response){
                $("#description-view").text(bio);
                $(".edit-bio-container").hide();
                $("#description-view").show();
            }
        })
    })

    $('#follower-button').click(function(){
        const follower_button = document.querySelector("#follower-button");

        if (follower_button.classList.contains("custom-nav-button-inactive")){
            const following_button = document.querySelector("#following-button");

            follower_button.classList.remove("custom-nav-button-inactive");
            follower_button.classList.add("custom-nav-button-active");
            following_button.classList.remove("custom-nav-button-active");
            following_button.classList.add("custom-nav-button-inactive");

            $("#following-list").hide();
            $("#follower-list").show();
        }
    })

    $('#following-button').click(function(){
        const following_button = document.querySelector("#following-button");

        if (following_button.classList.contains("custom-nav-button-inactive")){
            const follower_button = document.querySelector("#follower-button");

            following_button.classList.remove("custom-nav-button-inactive");
            following_button.classList.add("custom-nav-button-active");
            follower_button.classList.remove("custom-nav-button-active");
            follower_button.classList.add("custom-nav-button-inactive");

            $("#follower-list").hide();
            $("#following-list").show();
        }
    })

</script>

{% endblock %}