{% extends 'basehtmlpage.html' %}

{% block content %}
{% if user.is_authenticated %}

    {% include 'navbar.html' %}
    
    <div class="profile-wrapper">
        <div class="dp-wrapper">
            <button class="btn btn-primary" href="#" id="edit-dp-button">Edit</button>
            <div class="edit-dp-div">
                <div>
                    <form style="display: none;" action="{% url 'change_dp' %}" enctype="multipart/form-data" method="POST" id="dp-form">
                        {% csrf_token %}
                        <input type="file" id="dp-input-file" name="pic" accept="image/*" required>
                        <input type="submit" id="dp-form-submit" class="btn btn-primary">
                    </form>
                    <i class="fas fa-plus" id="add-new-dp-action"></i>
                    <h6>New</h6>
                </div>
                <div>
                    <i class="fas fa-times" id="remove-dp" data-catid="{{info.user.id}}"></i>
                    <h6>Del</h6>
                </div>
            </div>
            <div class="dp-contain-box">
                <img id="display-picture" src="{{info.dp.url}}" height="200px" width="200px">
            </div>
        </div>

        <div class="description-wrapper">
            {% if info.user == user %}
                <div class="edit-bio">
                    <i class="fas fa-pencil-alt"></i>
                </div>
            {% endif %}
            <div class="description-text">
                {% if info.user_description %}
                    {{ info.user_description }}
                {% elif info.user == user %}
                    Loves mountains? Or are you a beach person?<br>
                    What's on your bucket list?<br>
                    Tell people about yourself here!
                {% endif %}
            </div>
        </div>
    </div>
    
    {% include 'posts-scrolling-layout.html' %}

{% else %}
    <div class="container" style="text-align: center;">
        <h2>You are required to sign in for viewing this page.</h2>
        <a href = "{% url 'login' %}">Sign In</a>
    </div>

{% endif %}

<script>
    $("#edit-dp-button").click(function(){
        $("#edit-dp-button").hide();
        $(".edit-dp-div").show();
    })

    $("#add-new-dp-action").click(function(){
        document.getElementById("dp-input-file").click();
    })

    $("#dp-input-file").on("change", function(){
        document.getElementById("dp-form-submit").click();
    })

</script>

{% endblock %}